<!--Admin Controller-->
<div ng-controller = "AdminController">
<h1>Welcome Administrator</h1>
  <ul>
    <li ng-repeat="board in adminCtrl.snowboards">
      <a href=""><img ng-src="{{ board.photo}}" alt=""></a>
      <p>Brand: {{board.board}}</p>
      <p>Price: {{board.price}}</p>
      <p><input type="checkbox" name="buy" value="unit-in-cart"/> Add to Cart</p>
    </li>
    <li ng-repeat="surf in adminCtrl.surfboards">
      <a href=""><img ng-src="{{ surf.photo}}" alt=""></a>
      <p>Brand: {{surf.surf}}</p>
      <p>Price: {{surf.price}}</p>
      <p><input type="checkbox" name="buy" value="unit-in-cart"/> Add to Cart</p>
    </li>
    <li ng-repeat="shoe in adminCtrl.sneakers">
      <a href=""><img ng-src="{{ shoe.photo}}" alt=""></a>
      <p>Brand: {{shoe.shoe}}</p>
      <p>Price: {{shoe.price}}</p>
      <p><input type="checkbox" name="buy" value="unit-in-cart"/> Add to Cart</p>
    </li>
  </ul>
</div>
