<div class="homePage">
<div class="header">
<img src="styles/images/header.jpg" alt="">
</div>

  <div class="homeContent">
    <p><h1>Top Selling Products</h1></p>
    <img src="styles/images/ride.jpg" alt=""><img src="styles/images/surf1.jpg" alt=""><img src="styles/images/sneaks1.jpg" alt=""><img src="styles/images/burton.jpg" alt=""><img src="styles/images/surf2.jpg" alt="">
    <hr>
    <p><h1>Shop the latest Snowboards</h1><a href="#/snow"><h2>See more</h2></a></p>
    <img src="styles/images/burton2.jpg" alt=""><img src="styles/images/burton.jpg" alt=""><img src="styles/images/libtech.jpg" alt=""><img src="styles/images/forum.jpg" alt=""><img src="styles/images/ride.jpg" alt="">
    <hr>
    <p><h1>Shop the latest Surfboards</h1><a href="#/surf"><h2>See more</h2></a></p>
    <img src="styles/images/surf1.jpg" alt=""><img src="styles/images/surf2.jpg" alt=""><img src="styles/images/surf3.jpg" alt=""><img src="styles/images/surf4.jpg" alt=""><img src="styles/images/surf1.jpg" alt="">
    <hr>
    <p><h1>Shop the latest Sneakers</h1><a href="#/sneaks"><h2>See more</h2></a></p>
    <img src="styles/images/sneaks1.jpg" alt=""><img src="styles/images/sneaks2.jpg" alt=""><img src="styles/images/sneaks3.jpg" alt=""><img src="styles/images/sneaks4.jpg" alt=""><img src="styles/images/sneaks1.jpg" alt="">
  </div>
</div>
