<!--Home page -->
<!--Home page -->
<!--Home page -->

<div class="homePage">
  <div class="header">
    <img src="styles/images/header2.jpg" alt="">
  </div>
  <div class="homeContent">
    <p><h1>Top Selling Products</h1></p>
    <img src="styles/images/ride.jpg" alt=""><img src="styles/images/surf1.jpg" alt=""><img src="styles/images/ski1.jpg" alt=""><img src="styles/images/burton.jpg" alt=""><img src="styles/images/surf2.jpg" alt="">
    <hr>
    <p><h1>Shop the latest Snowboards</h1><a href=""><h2>See more</h2></a></p>
    <img src="styles/images/burton2.jpg" alt=""><img src="styles/images/burton.jpg" alt=""><img src="styles/images/libtech.jpg" alt=""><img src="styles/images/forum.jpg" alt=""><img src="styles/images/ride.jpg" alt="">
    <hr>
    <p><h1>Shop the latest Surfboards</h1><a href=""><h2>See more</h2></a></p>
    <img src="styles/images/surf1.jpg" alt=""><img src="styles/images/surf2.jpg" alt=""><img src="styles/images/surf3.jpg" alt=""><img src="styles/images/surf4.jpg" alt=""><img src="styles/images/surf1.jpg" alt="">
    <hr>
    <p><h1>Shop the latest Skis</h1><a href=""><h2>See more</h2></a></p>
    <img src="styles/images/ski1.jpg" alt=""><img src="styles/images/ski2.jpg" alt=""><img src="styles/images/ski3.jpg" alt=""><img src="styles/images/ski4.jpg" alt=""><img src="styles/images/ski1.jpg" alt="">
  </div>
</div>
