<!--Admin Controller-->
<div ng-controller = "AdminController">
<h1>Welcome Administrator</h1>
  <ul>
    <li ng-repeat="board in adminCtrl.snowboards">
      <a href=""><img ng-src="{{ board.photo}}" alt=""></a>
      <p>Brand: {{board.board}}</p>
      <p>Price: {{board.price | currency }}</p>
      <p><button ng-click="">Add to Cart</button></p>
      <p><button ng-click="adminCtrl.deleteBoard(board)">Delete</button>

        <button ng-click="edit = !edit">Edit</button>
        <!-- <button ng-click="admin.editBoard()">Edit</button></p> -->

          <form ng-show="edit" ng-submit="mainCtrl.addSnowboard(newBoard)">
          <input type="text" ng-model="editBoard.board" placeholder="Make/Model">
          <input type="text" ng-model="editBoard.price" placeholder="Price">
          <input type="url" ng-model="editBoard.photo" placeholder="Photo">
          <button type="submit">Update</button>
          </form>

      </p>
      {{adminCtrl.singleItem | json }}
    </li>
    <h2>Add a new Snowboard</h2>
    <form ng-submit="adminCtrl.addSnowboard(newBoard)">
      <input type="url" ng-model="newBoard.photo" placeholder = "Photo">
      <input type="text" ng-model="newBoard.board" placeholder="Make/Model">
      <input type="text" ng-model="newBoard.price" placeholder="Price">
      <button type="submit">Add Snowboard</button>
    </form>
    <hr>

    <li ng-repeat="surf in adminCtrl.surfboards">
      <a href=""><img ng-src="{{ surf.photo}}" alt=""></a>
      <p>Brand: {{surf.surf}}</p>
      <p>Price: {{surf.price | currency}}</p>
      <p><button ng-click="">Add to Cart</button></p>
      <p><button ng-click="adminCtrl.deleteSurf(surf)">Delete</button>
      <button ng-click="admin.editSurf()">Edit</button></p>
      {{mainCtrl.singleItem | json }}
    </li>
      <h2>Add a new Surfboard</h2>
      <form ng-submit="mainCtrl.addSurfboard(newSurf)">
        <input type="url" ng-model="newSurf.photo" placeholder = "Photo">
        <input type="text" ng-model="newSurf.surf" placeholder="Make/Model">
        <input type="text" ng-model="newSurf.price" placeholder="Price">
        <button type="submit">Add Surfboard</button>
      </form>
      <hr>


    <li ng-repeat="shoe in adminCtrl.sneakers">
      <a href=""><img ng-src="{{ shoe.photo}}" alt=""></a>
      <p>Brand: {{shoe.shoe}}</p>
      <p>Price: {{shoe.price | currency}}</p>
      <p><button ng-click="">Add to Cart</button></p>
      <p><button ng-click="adminCtrl.deleteShoe(shoe)">Delete</button>
      <button ng-click="admin.editShoe()">Edit</button></p>
      {{mainCtrl.singleItem | json }}
    </li>
      <h2>Add new Skis</h2>
      <form ng-submit="mainCtrl.addSneaker(newShoe)">
        <input type="url" ng-model="newShoe.photo" placeholder = "Photo">
        <input type="text" ng-model="newShoe.shoe" placeholder="Make/Model">
        <input type="text" ng-model="newShoe.price" placeholder="Price">
        <button type="submit">Add Snowboard</button>
      </form>

  </ul>


</div>
