body{
  background-color: white;
  font-family: 'Lato', sans-serif;
}
body.ng-scope {
  margin: 0px;
  padding: 0px;
}
//topnav
.topnav {
  width: 80%;
  display: inline-block;
  color: black;
  margin: 0px;
  padding: 0px;
}
.topnav img  {
  width: 160px;
  height: 20px;
  margin-left: 5px;
  padding: 0px;
}
.topnav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.topnav li {
  display: inline-block;
  padding: 0px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 15px;
  margin-bottom: 0px;
}
.topnav li a {
  text-decoration: none;
  color: black;
}
.topnav li a:hover{
  text-decoration: underline;
}
.shoppingcart {
  display: inline-block;
  width: 18%;
  text-align: right;
  margin: 0px;
  padding: 0px;
}
.shoppingcart ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.shoppingcart li {
  display:inline-block;
  margin: 0px;
}
.shoppingcart li a {
  text-decoration: none;
  padding-right: 10px;
  color: black;
}
.shoppingcart li a:hover{
  text-decoration: underline;
}
hr {
  width: 100%;
  border: 1px solid lightgray;
  margin: 0px;
}
//end top nav

//home view
.homePage .header img {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.homePage img {
  margin: 10px;
  padding: 20px;
  border-right: 2px solid lightgray;
}
.homePage h1 {
  font-size: 20px;
  margin: 10px;
  display: inline;
}
.homePage h2 {
  font-size: 15px;
  display: inline;
}
//item lists
ul {
  list-style-type: none;
  display: inline-block;
  padding: 0px;
}
li {
  display: inline-block;
  margin: 12px;
}
img {
   width: 200px;
   height: 200px;
 }
p {
  width: 200px;
  padding: 0px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
}
//Surf Page
.surfpage ul {
  margin: 0px;
  padding: 0px;
}
.surfPage h1 {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

//footer
.footer {
  width: 100%;
  display: inline-block;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer img  {
  width: 160px;
  height: 20px;
  margin-top: 20px;
}
.footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}
.footer li {
  display: inline-block;
  padding: 0px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 15px;
  margin-bottom: 0px;
}
.footer li a {
  text-decoration: none;
  color: black;
}
.footer li a:hover{
  text-decoration: underline;
}
.shoppingcart {
  display: inline-block;
  width: 18%;
  text-align: right;
  margin: 0px;
  padding: 0px;
}
.shoppingcart ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.shoppingcart li {
  display:inline-block;
  margin: 0px;
}
.shoppingcart li a {
  text-decoration: none;
  padding-right: 10px;
  color: black;
}
.shoppingcart li a:hover{
  text-decoration: underline;
}
